<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289648665608-d8k6bre1gnhg9agn7iflrd779krko91e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289648665608-d8k6bre1gnhg9agn7iflrd779krko91e</string>
	<key>API_KEY</key>
	<string>AIzaSyAHxNsM6rWxabykWBOhEqJsoBj1fznckdw</string>
	<key>GCM_SENDER_ID</key>
	<string>289648665608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimshaglil.flutterStepsTracker</string>
	<key>PROJECT_ID</key>
	<string>ibrahim-flutter-steps-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>ibrahim-flutter-steps-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289648665608:ios:883a72b3f482d56d399dbd</string>
</dict>
</plist>